version: "3.8"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: afroken
      POSTGRES_PASSWORD: afroken_pass
      POSTGRES_DB: afroken_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
    volumes:
      - minio_data:/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - minio

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A app.tasks.celery_app.celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
      - minio

volumes:
  pgdata:
  minio_data:


